.single {
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  .image {
    flex-grow: 1;
    img {
      display: block;
      margin: auto;
      height: 200px;
    }
  }
  .songInfo {
    flex-grow: 1;
    p {
      margin: 5px 0;
    }
  }
}
