.single{
    display: flex;
    justify-content: space-between;
    .singleText{
        margin: 5px 0;
        width: 290px;
    }
    .openImage{
        height: 20px;
        cursor: pointer;
    }
}